@import './globals/fonts';
@import './globals/reset';
@import './includes/variables';

body {
  font-family: $font-stack;
  background-color: #f6f7f7;
  color: $copy-color;
  font-size: 16px;
}

.content-wrapper {
  position: relative;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
}

pre {
	font-family: monospace, 'Courier', sans-serif;
	background-color: $copy-color;
	display: inline-block;
	border-radius: 3px;
	padding: 3px 5px;
	font-size: 14px;
	color: white;
}

a {
  color: $copy-color;
}

@media (min-width: 800px){
  .content-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
